body{
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sail', cursive;
}

h1{
    font-size: 100px;
}
canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}